/* .vitepress/theme/custom.css */
:root {

    --vp-font-family-base: 'Atkinson Hyperlegible', sans-serif;
    --vp-c-brand: #72a6ff;
    --vp-c-brand-light: #101cff; 
    --vp-layout-max-width: 1500px;
    --vp-shadow-1:red;
    --vp-c-text-1:rgb(34, 33, 33);
    --vp-c-bg:rgb(255, 255, 255);
    --vp-sidebar-bg-color:rgb(242, 242, 242);
    --vp-c-text-2:rgb(34, 33, 33);
    --vp-code-block-bg:rgb(16, 16, 17);
    --vp-sidebar-width: 330px;
    &.dark {
        --vp-c-bg:rgb(25, 25, 27);
        --vp-c-text-1:rgb(237, 237, 237);
        --vp-c-brand: #72a6ff;
        --vp-sidebar-bg-color:rgb(16, 16, 17);
        --vp-c-text-2:rgb(237, 237, 237);
  
    }
    /*
    --vp-sidebar-width:200px; 
    --vp-nav-height:  ;
 


   --docsearch-primary-color: #5468ff;
   --docsearch-text-color: #1c1e21;
   --docsearch-spacing: 12px;
   --docsearch-icon-stroke-width: 1.4;
   --docsearch-highlight-color: var(--docsearch-primary-color);
   --docsearch-muted-color: #969faf;
   --docsearch-container-background: rgba(101,108,133,0.8);
   --docsearch-logo-color: #5468ff;
   --docsearch-modal-width: 560px;
   --docsearch-modal-height: 600px;
   --docsearch-modal-background: #f5f6f7;
   --docsearch-modal-shadow: inset 1px 1px 0 0 hsla(0,0%,100%,0.5),0 3px 8px 0 #555a64;
   --docsearch-searchbox-height: 56px;
   --docsearch-searchbox-background: #ebedf0;
   --docsearch-searchbox-focus-background: #fff;
   --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
   --docsearch-hit-height: 56px;
   --docsearch-hit-color: #444950;
   --docsearch-hit-active-color: #fff;
   --docsearch-hit-background: #fff;
   --docsearch-hit-shadow: 0 1px 3px 0 #d4d9e1;
   --docsearch-key-gradient: linear-gradient(-225deg,#d5dbe4,#f8f8f8);
   --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6,inset 0 0 1px 1px #fff,0 1px 2px 1px rgba(30,35,90,0.4);
   --docsearch-footer-height: 44px;
   --docsearch-footer-background: #fff;
   --docsearch-footer-shadow: 0 -1px 0 0 #e0e3e8,0 -3px 6px 0 rgba(69,98,155,0.12);

  */

  }

.curtain {
    display:none;
}
  .VPDoc.has-aside .content-container {
   max-width: 1000px !important;
}
img, .frame {
    width:100%;
    border-radius:.3rem;
    margin-bottom:2rem;
    + img {
        margin-top:2rem;
    }
}

.VPNavBarTitle .title {

}
.link-text {
    font-size:.95rem !important;
}

a + small,
img + small {
    display:block;
    flex-direction:column;
    font-size:.9rem;
    padding:.25rem .5rem;
background:black;

}
.vp-doc p {
    line-height:1.6rem;
}
.vp-doc ul {
    line-height:1.3rem;
    margin:2rem 0;
}
.vp-doc h1,
.vp-doc h1 a {
    font-weight: 600;
    font-size:1.8rem;
} 
.p5embed {
    border-radius:.3rem;
    border:none;
    margin:2rem 0 4rem;
    width:100%;
//height:450px;
}
.vp-doc div[class*='language-'] {
    margin:2rem 0;
}