<template>
    <a data-fancybox v-if="isabsolute" :title="legend" :href="file" :class="{ 'issmall': imgsmall, 'haslegend': legend || link }">
        <img :src="file" :alt="legend">
    </a>
    <a data-fancybox v-if="!isabsolute" :title="legend" :href="'/assets/' + file" :class="{ 'issmall': imgsmall, 'haslegend': legend || link }">
        <img :src="'/assets/' + file" :alt="legend">
    </a>
    <div class="legend" v-if="legend || link">
        <small v-if="legend">
            {{ legend }}
        </small>
        <small v-if="link">
            <a :href="link" target="_blank">
                <i v-if="textlink">{{ textlink }}</i>
                <i v-else>→ Ouvrir le lien</i>
            </a>
        </small>
    </div>
</template>

<script setup>
 defineProps({
    isabsolute: Boolean,
    file: String,
    legend: String,
    link: String,
    textlink: String,
    imgsmall: Boolean
 })
</script>

<style scoped lang="scss">
img {
    margin-top:1.5rem;
}

.haslegend {
    img {
        border-radius:.3rem .3rem 0 0;
        margin-bottom:0;
    }
}
.issmall {
    img {
        width:auto;
    }
}
.legend {
    display:flex;
    flex-direction: column;
    padding:.5rem 0;
    border-radius:0 0 .3rem .3rem;
    margin-bottom:2rem;
}
small {
    display:block;
}
i {
    display:flex;
    align-items:center;
}
</style>