<template>
    <div>
        <iframe class="frame" :src="url" frameborder="0"></iframe>
        <small v-if="legend">{{ legend }}</small>
        <small v-else>
            <a :href="url" target="_blank">{{ url }}</a>
        </small>
    </div>
</template>

<script setup>
 defineProps({
    url: String,
    legend: String
 })
</script>

<style scoped>
.frame {
    width:100%;
    height:450px;
    border:none;
    border-radius:.3rem;
}
</style>