<template>
    <div v-if="type == 'youtube'" :class="{'haslegend':  legend}">
        <iframe width="770" height="450" :src="'https://www.youtube.com/embed/' + id" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div v-if="type == 'vimeo'" style="padding:56.25% 0 0 0;position:relative;margin:2rem 0;" :class="{'haslegend':  legend}">
        <iframe :src="'https://player.vimeo.com/video/' + id" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <div class="legend" v-if="legend || link">
        <small v-if="legend">
            {{ legend }}
        </small>
        <small v-if="link">
            <a :href="link" target="_blank">
                <i v-if="textlink">{{ textlink }}</i>
                <i v-else>→ Ouvrir le lien</i>
            </a>
        </small>
    </div>
</template>

<script setup>
 defineProps({
    type: String,
    id: String,
    legend: String,
    link: String,
    textlink: String
 })
</script>

<style lang="scss" scoped>
iframe {
    border-radius:.3rem;
    margin-bottom:2rem;
}
.haslegend {
    iframe {
        border-radius:.3rem .3rem 0 0;
        margin-bottom:0;
    }
}
.legend {
    display:flex;
    flex-direction: column;
    padding:.5rem 0;
    border-radius:0 0 .3rem .3rem;
    margin-bottom:2rem;
}
small {
    display:block;
}
i {
    display:flex;
    align-items:center;
}
</style>

